<?xml version="1.0" encoding="UTF-8"?>
<!--根节点configuration 的属性：
scan：当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
scanPeriod：设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
debug：当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--用来定义变量值的标签，有两个属性，name和value；
    其中name的值是变量的名称，value的值是变量定义的值。
    通过定义的值会被插入到logger上下文中。定义变量后，可以使“${}”来使用变量-->
    <!--定义日志文件的存储地址，相对路径为项目根路径-->
    <property name="LOG_HOME" value="logs"/>
    <property name="LOG_APPNAME" value="RandomImage"/>

    <!--appender用来格式化日志输出节点，有俩个属性name和class，class用来指定哪种输出策略，常用就是控制台输出策略和文件输出策略。-->
    <!-- Console 输出设置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%msg：日志消息，%n是换行符，%logger{36}——日志输出者的名字-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg) with PID:${PID:-}%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 过滤掉Error级别的日志，此appender仅筛选Error级别日志并输出到控制台
       <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
       </filter>-->
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志名称，如果没有File 属性，那么只会使用FileNamePattern的文件路径规则
            如果同时有<File>和<FileNamePattern>，那么当天日志是<File>，明天会自动把今天
            的日志改名为今天的日期。即，<File> 的日志都是当天的。
        -->
        <File>${LOG_HOME}/${LOG_APPNAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/${LOG_APPNAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--只保留最近90天的日志-->
            <maxHistory>60</maxHistory>
            <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <!--日志输出编码格式化-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg with PID:${PID:-}%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--邮件日志单独输出-->
<!--    <appender name="MAIL_LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <File>${LOG_HOME}/emailLog/email.log</File>-->
<!--        &lt;!&ndash;日志追加记录，设置false会清空日志文件再记录&ndash;&gt;-->
<!--        <append>true</append>-->
<!--        &lt;!&ndash;只过滤info级别的日志&ndash;&gt;-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_HOME}/emailLog/email.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash;只保留60天的日志&ndash;&gt;-->
<!--            <maxHistory>60</maxHistory>-->
<!--            &lt;!&ndash;限制日志文件的大小为100MB&ndash;&gt;-->
<!--            <totalSizeCap>100MB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder charset="UTF-8">-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} %file:%line - %msg%n</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE"/>
    </appender>

    <!--用来设置某一个包或者具体的某一个类的日志打印级别、以及指定<appender>
    name:用来指定受此loger约束的某一个包或者具体的某一个类。
    level:用来设置打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，还有一个特俗值INHERITED或者同义词NULL，代表强制执行上级的级别。如果未设置此属性，那么当前loger将会继承上级的级别。
    addtivity:是否向上级logger传递打印信息。默认是true(当为true时，还会被匹配到的root再次输出一次log)-->
    <logger name="org.apache.ibatis.cache.decorators.LoggingCache" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    <!--邮件单独输出的logger-->
<!--    <logger name="mailLogs" additivity="false" level="INFO">-->
<!--        <appender-ref ref="MAIL_LOGS"/>-->
<!--    </logger>-->

    <!--
    root节点是必选节点，用来指定最基础的日志输出级别，只有一个level属性。
    level：用来设置打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，不能设置为INHERITED或者同义词NULL。默认是DEBUG。 -->
    <root level="INFO">
        <!--<appender-ref ref="ASYNC"/>-->
        <!--appender将会添加到这个loger-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>